body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: antiquewhite;


}

.title {
    background-color: pink;
    text-align: center;
}



ul {
    display: inline-block;
    text-align: left;
    margin: 0;
}

li {
    padding: 6px;
    text-align: center;

}