body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}



.title {
    background-color: pink;
    text-align: center;
    padding: 8px;
}



ul {
    display: inline-block;
    text-align: left;
    margin: 0;
}

li {
    padding: 6px;
    text-align: center;

}