body {
    margin: 0px;
    padding: 0px;
}

.title {
    background-color: pink;
    text-align: center;
}

.card {
    background-color: hsla(39, 100%, 50%, 0.546);
}

.card li {
    padding: 6px;
    margin-left: 670px;
}